.contain{
    position: absolute;
    overflow: hidden;
    width:100%;
    height: 91%;
}
#container{
    position: absolute;
   width: 1000px;
    height: 1000px;
     left: calc(50% - 500px);
    top: calc(50% - 500px);
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@-webkit-keyframes discspin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes discspin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
.mask-disc-circle{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: url(../../../../static/img/small.svg) 50% no-repeat;
    background-size: 100%;
    -webkit-animation: discspin 30s infinite linear;
    animation: discspin 30s infinite linear;
    left: calc(50% - 500px);
    top: calc(50% - 500px);
}
.mask-line-circle{
    background: url("../../../../static/img/big.svg") 50% no-repeat;
    background-size: 88%;
    position: absolute;
   width: 1000px;
   height: 1000px;
    -webkit-animation: spin 30s infinite linear;
    animation: spin 30s infinite linear;
    left: calc(50% - 500px);
    top: calc(50% - 500px);
}